[submodule "packages/ocop"]
	path = packages/ocop
	url = git@github.com:ocopjs/ocop.git
[submodule "packages/access-control"]
	path = packages/access-control
	url = git@github.com:ocopjs/access-control.git
[submodule "packages/common"]
	path = packages/common
	url = git@github.com:ocopjs/common.git
[submodule "packages/utils"]
	path = packages/utils
	url = git@github.com:ocopjs/utils.git
[submodule "packages/app-version"]
	path = packages/app-version
	url = git@github.com:ocopjs/app-version.git
[submodule "packages/adapter-mongoose"]
	path = packages/adapter-mongoose
	url = git@github.com:ocopjs/adapter-mongoose.git
[submodule "packages/app-admin-ui"]
	path = packages/app-admin-ui
	url = git@github.com:ocopjs/app-admin-ui.git
[submodule "packages/app-graphql"]
	path = packages/app-graphql
	url = git@github.com:ocopjs/app-graphql.git
[submodule "packages/field-views-loader"]
	path = packages/field-views-loader
	url = git@github.com:ocopjs/field-views-loader.git
[submodule "packages/app-graphql-playground"]
	path = packages/app-graphql-playground
	url = git@github.com:ocopjs/app-graphql-playground.git
[submodule "packages/server-side-graphql-client"]
	path = packages/server-side-graphql-client
	url = git@github.com:ocopjs/server-side-graphql-client.git
[submodule "packages/fields"]
	path = packages/fields
	url = git@github.com:ocopjs/fields.git
[submodule "packages/fields-mongoid"]
	path = packages/fields-mongoid
	url = git@github.com:ocopjs/fields-mongoid.git
[submodule "packages/react-mathjax"]
	path = packages/react-mathjax
	url = git@github.com:ocopjs/react-mathjax.git
[submodule "packages/auth-password"]
	path = packages/auth-password
	url = git@github.com:ocopjs/auth-password.git
[submodule "packages/session"]
	path = packages/session
	url = git@github.com:ocopjs/session.git
[submodule "packages/file-adapters"]
	path = packages/file-adapters
	url = git@github.com:ocopjs/file-adapters.git
[submodule "packages/fields-relationship"]
	path = packages/fields-relationship
	url = git@github.com:ocopjs/fields-relationship.git
